body {
	width: 100%;
	min-width:800px;
	background-color:#eee;
	font-family: "EB Garamond", Ariel, sans-serif;
}

header{
	position:relative;
}

#content_area{
	display:inline-block;
	width:80%;
}

aside{
	position:relative;
	margin-top:24px;
	display:inline-block;
	vertical-align:top;
	top:20px;
	width:9%;
	min-width:120px;
	line-height:30px;
	padding-left:3%;
	margin-right:1%;
}

aside ul{
	font-weight:bold;
	margin-top:15%;
	list-style-type: disc;
}

aside ul ul{
	margin-top:0;
	list-style-type:circle;
	padding-left:15px;
}

article{
	box-shadow: -2px 2px 12px #c1c1c1;
	display:inline-block;
	margin-bottom:5%;
	padding:20px;
	width:60%;
}

p{
	margin:1em;
	line-height: 1.2;
}

h2{
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 0.83em;
	margin-bottom:0.83em;
}

h3, h4{
	margin-top: 1.33em;
	margin-bottom:1.33em;
	font-weight:bold;
}

h3{
	font-size:1.3em
}

h4{
	font-size:1.2em;
}

.center{
	width:auto;
	height:auto;
	text-align:center;
}

article ul{
	font-weight:bold;
	position:relative;
	right:50%
	margin-top:40px;
}

article ul li{
	font-weight:normal;
}

article h3{
	text-align: center;
}

.post_img{
	text-align:center;
	position: relative;
	margin:20px;
}

.img_caption{
	color:black;
	position:absolute;
	bottom:-14px;
	left:150px;
	font-size:12px;
	z-index:2;
}

article img{
	box-sizing:border-box;
	border: 2px solid black;
	width:300px;
	height:200px;
}

footer{
	display:block;
	bottom:0px;
	font-size:14px;
}

a{
	color:blue;
}

a:visited{
	color:red;
}

a:hover{
	color:grey;
}


