body{
	width: 100%;
	max-width: 1400px;
	min-width:900px;
	text-align: center;
	font-size:1em;
}
section{
	position:relative;
	float:right;
	left: -20%;
	border: 3px dotted black;
	border-radius: 25px;
	box-sizing: border-box;
	margin: 10px auto;
	width: 60%;
	max-width: 700px;
	padding-top: 10px;
	padding-bottom: 25px;
	padding-right: 25px;
	padding-left: 25px;
	text-align: left;
}

header h1 {
	margin-top:20px;
	margin-bottom:20px;
	font-size: 40px;
	width: 800px;
	text-align: center;
	box-sizing: border-box;
}
footer{
	clear:both;
	bottom:0%;
	box-sizing: border-box;
	padding: 5px;
	font-size: 15px;
	width: 600px;
	text-align: center;
}

aside{
	float:left;
	width: 20%;
	margin: 25px;
}

aside h3{
	text-align:left;
	margin-bottom:10px;
	text-decoration: underline;
}

aside li{
	text-align:left;
	line-height:20px;
	width: 100px;
}

.excite{
	color: darkred;
	font-style: oblique;
}
.post {
}

.post_content{
	float:left;
}
article h3{
	font-size: 2em;
	margin-bottom:5px;
	color:darkred;
	text-align: right;
}

.post_img{
	margin:10px;
	float:right;
	height:200px;
	width:250px;
	position:relative;
}


article img {
	boxing-size:border-box;
	border:2px black solid;
	height:200px;
	width:250px;
}

.img_caption{
	color:gold;
	background:black;
	position:absolute;
	bottom:0px;
	left:10px;
	font-size:10px;
	z-index:2;
}



a:visited{
	color:lightblue;
}

a:hover{
	color:grey;

}
a{
	color:blue;

}